pandas
pyarrow
pyproj
requests
beautifulsoup4
tqdm
pyyaml
scipy
openpyxl
scikit-learn
nltk
contractions
statsmodels
holidays
xgboost
lightgbm
umap-learn
plotly
plotly-express
dash
dash-bootstrap-components